@model IEnumerable<WebWord.Models.Vocabulary>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.Person)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Word.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word.Definition)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Student.Person)</td>
                <td>@Html.DisplayFor(modelItem => item.Word.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Word.Definition)</td>
               
            </tr>
        }
    </tbody>
</table>